/* 
    Created on : 18-ago-2015, 15.39.10
    Author     : Marian Solomon
*/
footer {
    position: relative;
}

body > div.container {
    min-height: 82vh;
}

footer {
    position: relative;
    margin-top: 10px;
}

footer {
    position: relative;
    margin-top: 10px;
}

footer > div > div {
    margin: 10px;
}

.zoom-gallery > a > img{
    float: left;
    max-height: 200px;
}

.margin-10 {
    margin: 10px;
}

.margin-5 {
    margin: 5px;
}

.margin-1 {
    margin: 1px !important;
}

.pabs {
    position: absolute;
    right: 20px;
}

.text-white {
    color: white;
}

.column-image {
    max-width: 250px;
}

.column-image img {
    max-height: 100px;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-middle > tbody > tr > td {
    vertical-align: middle !important;
}

.price-bage {
    position: relative;
    right: 2px;
    bottom: 24px;
    float: right;
    font-size: 15px;
    background-color: #A93030;
}