/* 
    Created on : 01-ago-2015, 15.39.10
    Author     : Marian Solomon
*/

html,
body {
    height: 100%;
}

body > div.container {
    min-height: 90%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

footer {
    height: 60px;
    background-color: #f5f5f5;
}

.tab-content .tab-pane table {
    border-top: none;
}

.tab-content table tr td {
    vertical-align: middle;
}

footer {
    position: relative;
    margin-top: 10px;
}

.footer-img {
    max-width: 250px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    max-height: 200%;
    padding: 0px 10px;
}

footer > div > div {
    margin: 10px;
}

.zoom-gallery > a > img{
    float: left;
    max-height: 200px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.4em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-35 { margin-top: 3.5em; }
.margin-top-40 { margin-top: 4.0em; }

.margin-5 {
    margin: 5px;
}

.margin-bot-0 {
    margin-bottom: 0px !important;
}
.margin-1 {
    margin: 1px !important;
}

.pabs {
    position: absolute;
    right: 20px;
}

.text-white {
    color: white;
}

.column-image {
    max-width: 250px;
}
.column-date {
    min-width: 100px;
}

.column-image img {
    max-height: 100px;
}

.vertical-middle {
    vertical-align: middle !important;
    vertical-align: -webkit-baseline-middle !important;
}

.vertical-middle > tbody > tr > td {
    vertical-align: middle !important;
}

.price-bage {
    position: relative;
    right: 2px;
    bottom: 24px;
    float: right;
    font-size: 15px;
    background-color: #A93030;
}

.height-34 {
    height: 34px !important;
}

.little-thumb {
    max-width: 140px; 
}

.thumbnail a > img {
    width: 100%;
}

.product-img-remove-btn a {
    position: absolute;
    top: -15px;
    right: 22px;
    font-size: 30px;
    color: crimson;
    cursor: pointer;
}


.product-img-remove-btn > a:hover, .product-img-remove-btn > a:focus {
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    font-size: 30px;
    line-height: 1;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*.button-send {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: 40px;
}
.button-cancel {
    position: absolute;
    top: 0px;
    right: 200px;
    margin-bottom: 40px;
}*/

.alert {
    padding: 6px;
    margin-bottom: 0px;
}

.list-no-decoration {
    list-style-type: none;
}
li.alert.alert-dismissible{
    padding: 10px;
    padding-right: 35px;
}

body ul li.alert {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    z-index: 99999;
}

.unselectable { 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
} 

.carousel-control {
    padding-top:10%;
    width:10%;
}
.carousel-caption {
    background-color: rgba(243, 178, 178, 0.7);
    padding-top: 0px;
}

.carousel-caption p {
    color: black;
}

.carousel-caption a {
    color: #A93030;
    font-size: 35px;
}

.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat white;
}

.max-height-300 {
    max-height: 300px;
}
.height-400 {
    height: 400px;
}

.min-height-100 {
    min-height: 100px;
}
.height-400 > img {
    margin: 0 auto;
    max-height: 100%;
}
.margin-10-auto {
    margin: 40px auto;
}
.helper {
    position: absolute;
    top: 50%;
    left:50%;}