<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
                <f:viewAction action="${brandController.setSelectedBrand(param.brandID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">Brand</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">
                        <h:outputText value="Modifica brand" rendered="${brandController.selectedBrand.ID > 0}"/>
                        <h:outputText value="Inserisci brand" rendered="${brandController.selectedBrand.ID == 0}"/>
                    </p>
                </div>
                <h:form id="brand-form" class="form-horizontal">
                    <div class="form-group">
                        <h:button outcome="${brandController.cancel()}" value="Annulla" class="btn btn-danger col-md-2 col-xs-4 col-md-offset-2 col-xs-offset-1"/>
                        <h:commandButton action="${brandController.processBrandForm()}" value="Invia" type="submit" class="btn btn-success col-md-2 col-xs-4 col-md-offset-1 col-xs-offset-1"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="ID :" class="col-xs-2 control-label"/>
                        <div class="col-xs-1">
                            <h:inputText value="${brandController.selectedBrand.ID}" disabled="true" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Nome :" for="brandName" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputText value="${brandController.selectedBrand.name}" id="brandName" class="form-control" required="true" requiredMessage="Il nome è obbligatorio" validatorMessage="Il nome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-">
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" /> 
                            </h:inputText>
                        </div>
                        <h:message for="brandName" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Sito web :" for="brandLink" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputText value="${brandController.selectedBrand.link}" id="brandLink" class="form-control" validatorMessage="L'url inserito non è valido, per favore inserirne uno valido e non maggiore di 255 caratteri">
                                <f:validateRegex pattern="^[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="255" />
                            </h:inputText>   
                        </div>  
                        <h:message for="brandLink" styleClass="alert alert-danger col-xs-5" />
                    </div>                    
                    <div class="form-group">
                        <h:outputLabel value="Descrizione :" for="brandDescription" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputTextarea value="${brandController.selectedBrand.description}" id="brandDescription" class="form-control" rows="5"/>
                        </div>
                    </div>                                                            
                </h:form>
                <h:panelGroup layout="block" id="image-list" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10">
                    <div class="col-xs-1"></div>
                    <h:outputLabel value="Logo :" class="col-xs-1 control-label"/>
                    <div class="col-xs-4">
                        <h:graphicImage value="${brandController.selectedBrand.logo}" class="little-thumb" id="brand-logo"/>
                    </div>
                    <div class="col-xs-1">
                        <f:ajax event="valueChange" listener="${brandController.processImage()}" execute="logo" render="brand-logo">
                            <h:form enctype="multipart/form-data">
                                <h:inputFile id="logo" value="${brandController.file}"/>
                            </h:form>
                        </f:ajax>
                    </div>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

