<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
                <f:viewAction action="${customerController.setSelectedCustomer(param.customerID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">Customer</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">
                        <h:outputText value="Modifica Cliente" rendered="${customerController.selectedCustomer.ID > 0}"/>
                        <h:outputText value="Inserisci Cliente" rendered="${customerController.selectedCustomer.ID == 0}"/>
                    </p>
                </div>
                <h:form id="customer-form" class="form-horizontal">
                    <div class="form-group">
                        <h:outputLabel value="ID :" class="col-xs-4 control-label"/>
                        <div class="col-xs-3">
                            <h:inputText value="${customerController.selectedCustomer.ID}" disabled="true" class="form-control"/>
                        </div>
                        <h:outputLabel value="Professionista :" class="col-xs-3 control-label" for="isProfessional"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${customerController.isProfessional}" disabled="${customerController.selectedCustomer.ID > 0}" id="isProfessional">
                                <f:ajax event="click"/> 
                            </h:selectBooleanCheckbox> 
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Nome :" for="customerName" class="control-label col-xs-4" />
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.name}" id="customerName" class="form-control" required="true" requiredMessage="Il nome è obbligatorio" validatorMessage="Il nome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-">
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" />
                            </h:inputText>
                        </div>
                        <h:message for="customerName" styleClass="alert alert-danger col-xs-3"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Cognome :" for="customerSurname" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.surname}" id="customerSurname" class="form-control" required="true" requiredMessage="Il cognome è obbligatorio" validatorMessage="Il cognome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-">                                
                                <f:validateRegex pattern="[a-zA-Z0-9.()\s-èòàùì'é@#_+]{1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" />
                            </h:inputText>
                        </div>   
                        <h:message for="customerSurname" styleClass="alert alert-danger col-xs-3" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Codice fiscale :" for="customerCode" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.code}" id="customerCode" class="form-control" required="true" requiredMessage="Il codice fiscale è obbligatorio" validatorMessage="Il codice fiscale non è valido, per favore inserire un codice di 16 caratteri">                            
                                <f:validateRegex pattern="[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]" />
                            </h:inputText>
                        </div>
                        <h:message for="customerCode" styleClass="alert alert-danger col-xs-3" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Città :" for="customerCity" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.city}" id="customerCity" class="form-control" required="true" requiredMessage="La città è obbligatoria" validatorMessage="La città non è valida, per favore inserirne una che non abbia più di 163 caratteri" >                                
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,163}" />
                            </h:inputText>
                        </div>   
                        <h:message for="customerCity" styleClass="alert alert-danger col-xs-3" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Telefono :" for="customerTelephone" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.telephone}" id="customerTelephone" class="form-control" validatorMessage="Il numero di telefono non è valido, per favore inserirne uno che lo sia">                                
                                <f:validateRegex pattern="^([+]?\d{1,2}[-\s]?|)\d{3}[-\s]?\d{6}" />
                            </h:inputText>
                        </div>
                        <h:message for="customerTelephone" styleClass="alert alert-danger col-xs-3" />                 
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Cellulare :" for="customerMobile" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.mobile}" id="customerMobile" class="form-control" validatorMessage="Il numero di cellulare non è valido, per favore inserirne uno che lo sia">                                
                                <f:validateRegex pattern="^([+]?\d{1,2}[-\s]?|)\d{3}[-\s]?\d{3}[-\s]?\d{4}$" />
                            </h:inputText>
                        </div>
                        <h:message for="customerMobile" styleClass="alert alert-danger col-xs-3" /> 
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Email :" for="customerEmail" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${customerController.selectedCustomer.email}" id="customerEmail" class="form-control" required="true" requiredMessage="L'email è obbligatoria" validatorMessage="La mail non è valida, per favore inserirne una che lo sia e non superi i 96 caratteri">                                
                                <f:validateRegex pattern="[a-z0-9!#$%'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%'*+/=? ^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                                <f:validateLength maximum="96" />
                            </h:inputText>
                        </div>   
                        <h:message for="customerEmail" styleClass="alert alert-danger col-xs-3" />
                    </div>                    
                    <div id="professional-section" hidden="${not customerController.accountBean.professional ? 'hidden':''}">
                        <div class="form-group">
                            <h:outputLabel value="Username :" for="professionalUsername" class="control-label col-xs-4"/>
                            <div class="col-xs-5">
                                <h:inputText value="${customerController.accountBean.username}" id="professionalUsername" class="form-control" required="${customerController.isProfessional}" requiredMessage="L'username è obbligatorio" validatorMessage="L'username non è valido, per favore inserirne uno che lo sia">      
                                    <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                    <f:validateLength minimum="1" />
                                    <f:validateLength maximum="63" />
                                </h:inputText>
                            </div>
                            <h:message for="professionalUsername" styleClass="alert alert-danger col-xs-3" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Password :" for="professionalPassword" class="control-label col-xs-4"/>
                            <div class="col-xs-5">
                                <h:inputSecret value="${customerController.accountBean.password}" class="form-control" id="professionalPassword" required="${customerController.isProfessional}" requiredMessage="La password è obbligatoria" validatorMessage="Passord non valida, inserirne una che lo sia">      
                                    <f:validateLength minimum="1" />
                                    <f:validateLength maximum="256" />
                                </h:inputSecret>
                            </div>
                            <h:message for="professionalPassword" styleClass="alert alert-danger col-xs-3" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Ruolo :" for="professionalRole" class="control-label col-xs-4"/>
                            <div class="col-xs-5">
                                <h:inputText value="${customerController.professionalBean.role}" class="form-control" id="professionalRole" required="${customerController.isProfessional}" requiredMessage="Il ruolo è obbligatorio" validatorMessage="Ruolo non valido, inserirne uno che lo sia">     
                                    <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                    <f:validateLength minimum="1" />
                                    <f:validateLength maximum="63" />
                                </h:inputText>  
                            </div>
                            <h:message for="professionalRole" styleClass="alert alert-danger col-xs-3" />
                        </div>
                        <div class="form-group">
                            <h:outputLabel value="Riduzione :" for="professionalReduction" class="control-label col-xs-4"/>
                            <div class="col-xs-5">
                                <h:inputText value="${customerController.professionalBean.reduction}" id="professionalReduction" class="form-control" required="${customerController.isProfessional}" requiredMessage="La riduzione è obbligatoria" validatorMessage="Riduzione non valida, inserirne una che lo sia">      
                                    <f:validateLength minimum="1" />
                                    <f:validateLength maximum="99" />
                                </h:inputText>  
                            </div>
                            <h:message for="professionalReduction" styleClass="alert alert-danger col-xs-3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h:button outcome="${customerController.cancel()}" value="Annulla" class="btn btn-danger col-md-2 col-xs-4 col-md-offset-4 col-xs-offset-1"/>
                        <h:commandButton action="${customerController.processCustomerForm()}" value="Invia" type="submit" class="btn btn-success col-md-2 col-xs-4 col-md-offset-1 col-xs-offset-1"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

