<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
                <f:viewAction action="${employerController.setSelectedEmployer(param.employerID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">Customer</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">
                        <h:outputText value="Modifica Dipendente" rendered="${employerController.selectedAccount.ID > 0}"/>
                        <h:outputText value="Inserisci Dipendente" rendered="${employerController.selectedAccount.ID == 0}"/>
                    </p>
                </div>
                <h:form id="customer-form" class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <h:outputLabel value="ID :" class="col-xs-4 control-label"/>
                        <div class="col-xs-2">
                            <h:inputText value="${employerController.employer.ID}" disabled="true" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Nome :" for="employerName" class="control-label col-xs-4" />
                        <div class="col-xs-5">
                            <h:inputText value="${employerController.employer.name}" id="employerName" class="form-control" required="true" requiredMessage="Il nome è obbligatorio" validatorMessage="Il nome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-">
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" />
                            </h:inputText>
                        </div>
                        <h:message for="employerName" styleClass="alert alert-danger col-xs-3"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Cognome :" for="employerSurname" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${employerController.employer.surname}" id="employerSurname" class="form-control" required="true" requiredMessage="Il cognome è obbligatorio" validatorMessage="Il cognome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-">                                
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" />
                            </h:inputText>
                        </div>   
                        <h:message for="employerSurname" styleClass="alert alert-danger col-xs-3" />
                    </div>

                    <h:panelGroup rendered="${employerController.employer.ID > 0}" layout="block" class="form-group">
                        <h:outputLabel value="Matricola :" for="employerCode" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${employerController.employer.code}" disabled="true" id="employerCode" class="form-control" />                            
                        </div>
                    </h:panelGroup>
                    <div class="form-group">
                        <h:outputLabel value="Data di Nascita :" for="employerBirthDate" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${employerController.employer.birthDate}" id="employerBirthDate" p:type="date" p:max="${employerController.today()}" class="form-control" required="true" requiredMessage="La data di nascita non è valida"/>                                
                        </div>
                        <h:message for="employerBirthDate" styleClass="alert alert-danger col-xs-3" />                 
                    </div>
                    <h:panelGroup rendered="${employerController.employer.ID > 0}" layout="block" class="form-group">
                        <h:outputLabel value="Username :" for="accountUsername" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputText value="${employerController.selectedAccount.username}" id="accountUsername" class="form-control" required="true"/>      
                        </div>
                    </h:panelGroup>
                    <div class="form-group">
                        <h:outputLabel value="Password :" for="accountPassword" class="control-label col-xs-4"/>
                        <div class="col-xs-5">
                            <h:inputSecret value="${employerController.selectedAccount.password}" id="accountPassword" class="form-control" required="true" requiredMessage="La password è obbligatoria" validatorMessage="Passord non valida, inserirne una che lo sia">      
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="256" />
                            </h:inputSecret>
                        </div>
                        <h:message for="accountPassword" styleClass="alert alert-danger col-xs-3" />
                    </div>
                    <div class="form-group">
                        <h:button outcome="${employerController.cancel()}" value="Annulla" class="btn btn-danger col-md-offset-3 col-xs-offset-1 col-md-2 col-xs-4"/>
                        <h:commandButton action="${employerController.processCustomerForm()}" value="Invia" type="submit" class="btn btn-success col-md-2 col-xs-4 col-xs-offset-1"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

