<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
            </f:metadata>
            <ui:define name="windowTitle">Administration</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">Bentornato ${authenticationController.username}!</p>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <h:link outcome="employer.xhtml">
                        <button type="button" class="btn btn-default pull-right margin-1">
                            <span class="glyphicon glyphicon-plus">&nbsp;Dipendente</span>
                        </button>
                    </h:link>
                    <h:link outcome="customer.xhtml">
                        <button type="button" class="btn btn-success pull-right margin-1">
                            <span class="glyphicon glyphicon-plus">&nbsp;Cliente</span>
                        </button>
                    </h:link>
                    <h:link outcome="order.xhtml">
                        <button type="button" class="btn btn-info pull-right margin-1">
                            <span class="glyphicon glyphicon-plus">&nbsp;Ordine</span>
                        </button>
                    </h:link>
                    <h:link outcome="product.xhtml">
                        <button type="button" class="btn btn-warning pull-right margin-1">
                            <span class="glyphicon glyphicon-plus">&nbsp;Prodotto</span>
                        </button>
                    </h:link>
                    <h:link outcome="brand.xhtml">
                        <button type="button" class="btn btn-danger pull-right margin-1">
                            <span class="glyphicon glyphicon-plus">&nbsp;Brand</span>
                        </button>
                    </h:link>
                    <li role="presentation" class="active">
                        <a href="#products" aria-controls="home" role="tab" data-toggle="tab">Prodotti</a>
                    </li>
                    <li role="presentation">
                        <a href="#brands" aria-controls="home" role="tab" data-toggle="tab">Brands</a>
                    </li>
                    <li role="presentation">
                        <a href="#customers" aria-controls="home" role="tab" data-toggle="tab">Clienti</a>
                    </li>
                    <li role="presentation">
                        <a href="#orders" aria-controls="profile" role="tab" data-toggle="tab">Vendite</a>
                    </li>
                    <li role="presentation">
                        <a href="#employers" aria-controls="home" role="tab" data-toggle="tab">Dipendenti</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active fade in table-responsive" id="products">
                        <h:dataTable value="${filterController.products}" var="product" 
                                     styleClass="table table-bordered table-hover table-responsive" 
                                     headerClass="text-center" rowClasses="text-center" 
                                     columnClasses="column-image,,,,,,,,,vertical-middle">
                            <h:column>
                                <f:facet name="header">Immagine</f:facet>    				
                                <div class="gallery">
                                    <a href="${product.thumb}" data-source="${product.thumb}" title="${product.name}">
                                        <img class="img-responsive img-thumbnail" src="${product.thumb}" />
                                    </a>
                                </div>
                            </h:column>
                            <h:column><f:facet name="header">#</f:facet>${product.ID}</h:column>
                            <h:column><f:facet name="header">Nome</f:facet>${product.name}</h:column>
                            <h:column>
                                <f:facet name="header">Status</f:facet>
                                <h:outputFormat rendered="${product.status}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not product.status}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>                           
                            </h:column>
                            <h:column>
                                <f:facet name="header">Online</f:facet>
                                <h:outputFormat rendered="${product.online}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not product.online}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>                             
                            </h:column>
                            <h:column>
                                <f:facet name="header">Peso (Kg)</f:facet>
                                <h:outputText value="${product.weight}">
                                    <f:convertNumber minFractionDigits="2" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Economico</f:facet>
                                <h:outputFormat rendered="${product.inexpensive}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not product.inexpensive}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Professionale</f:facet>
                                <h:outputFormat rendered="${product.professional}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not product.professional}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>                        
                            </h:column>
                            <h:column>
                                <f:facet name="header">Per bambini</f:facet>
                                <h:outputFormat rendered="${product.forChild}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not product.forChild}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>                       
                            </h:column>
                            <h:column>
                                <f:facet name="header">Azioni</f:facet>
                                <h:form class="margin-5">
                                    <h:link outcome="${productController.getProduct(product.ID)}">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;Modifica</span>
                                        </button>
                                    </h:link>
                                </h:form>
                                <h:form class="margin-5">
                                    <h:commandLink action="${productController.removeProduct(product.ID)}">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;Elimina</span>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </h:column>
                        </h:dataTable>
                    </div>
                    <div role="tabpanel" class="tab-pane fade table-responsive" id="brands">
                        <h:dataTable value="${brandController.brands}" var="brand" 
                                     styleClass="table table-bordered table-hover table-responsive" 
                                     headerClass="text-center" rowClasses="text-center" 
                                     columnClasses="column-image,,,,vertical-middle">
                            <h:column>    				
                                <f:facet name="header">Logo</f:facet>    
                                <div class="gallery">
                                    <a href="${brand.logo}" data-source="${brand.logo}" title="${brand.name}">
                                        <img class="img-responsive img-thumbnail" src="${brand.logo}" />
                                    </a>
                                </div>
                            </h:column>   
                            <h:column><f:facet name="header"># ID</f:facet>${brand.ID}</h:column>   
                            <h:column><f:facet name="header">Nome</f:facet><h:outputLink value="${brand.link}" target="_blank">${brand.name}</h:outputLink></h:column>                      
                            <h:column>
                                <f:facet name="header">Azioni</f:facet>
                                <h:form class="margin-5">
                                    <h:link outcome="${brandController.getBrand(brand.ID)}">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;Modifica</span>
                                        </button>
                                    </h:link>
                                </h:form>
                                <h:form class="margin-5">
                                    <h:commandLink action="${brandController.removeBrand(brand.ID)}">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;Elimina</span>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </h:column>
                        </h:dataTable>
                    </div>
                    <div role="tabpanel" class="tab-pane fade table-responsive" id="customers">
                        <h:dataTable value="${customerController.customers}" var="customer" 
                                     styleClass="table table-bordered table-hover table-responsive" 
                                     headerClass="text-center" rowClasses="text-center">
                            <h:column><f:facet name="header"># ID</f:facet>${customer.ID}</h:column>   
                            <h:column><f:facet name="header">Nome</f:facet>${customer.name}</h:column>   
                            <h:column><f:facet name="header">Cognome</f:facet>${customer.surname}</h:column>                      
                            <h:column><f:facet name="header">Email</f:facet>${customer.email}</h:column>                      
                            <h:column><f:facet name="header">Codice Fiscale</f:facet>${customer.code}</h:column>     
                            <h:column>
                                <f:facet name="header">Professionista</f:facet>
                                <h:outputFormat rendered="${customerController.professionalIDs.contains(customer.ID)}">
                                    <span class="glyphicon glyphicon-ok text-success"/>
                                </h:outputFormat>
                                <h:outputFormat rendered="${not customerController.professionalIDs.contains(customer.ID)}">
                                    <span class="glyphicon glyphicon-remove text-danger"/>
                                </h:outputFormat>                           
                            </h:column>
                            <h:column>
                                <f:facet name="header">Azioni</f:facet>
                                <h:form class="margin-5">
                                    <h:link outcome="${customerController.getCustomer(customer.ID)}">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;Modifica</span>
                                        </button>
                                    </h:link>
                                </h:form>
                                <h:form class="margin-5">
                                    <h:commandLink action="${customerController.removeCustomer(customer.ID)}">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;Elimina</span>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </h:column>
                        </h:dataTable>

                    </div>
                    <div role="tabpanel" class="tab-pane fade table-responsive" id="employers">
                        <h:dataTable value="${employerController.employers}" var="employer" 
                                     styleClass="table table-bordered table-hover table-responsive" 
                                     headerClass="text-center" rowClasses="text-center" 
                                     columnClasses=",,,,">
                            <h:column><f:facet name="header"># ID</f:facet>${employer.ID}</h:column>   
                            <h:column><f:facet name="header">Nome</f:facet>${employer.name}</h:column>   
                            <h:column><f:facet name="header">Cognome</f:facet>${employer.surname}</h:column>                      
                            <h:column><f:facet name="header">Data di nascita</f:facet>${employer.birthDate}</h:column>                      
                            <h:column><f:facet name="header">Matricola</f:facet>${employer.code}</h:column>                      
                            <h:column><f:facet name="header">Username</f:facet>${employer.code}@kittenlovers.com</h:column>                      
                            <h:column><f:facet name="header">Cognome</f:facet>${employer.surname}</h:column>
                            <h:column>
                                <f:facet name="header">Azioni</f:facet>
                                <h:form class="margin-5">
                                    <h:link outcome="${employerController.getEmployer(employer.ID)}">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;Modifica</span>
                                        </button>
                                    </h:link>
                                </h:form>
                                <h:form class="margin-5">
                                    <h:commandLink action="${employerController.removeEmployer(employer.ID)}">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;Elimina</span>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </h:column>
                        </h:dataTable>
                    </div>
                    <div role="tabpanel" class="tab-pane fade table-responsive" id="orders">
                        <h:dataTable value="${orderController.orders}" var="order" 
                                     styleClass="table table-bordered table-hover table-responsive" 
                                     headerClass="text-center" rowClasses="text-center" 
                                     columnClasses=",,,column-date,column-image,,,,">
                            <h:column><f:facet name="header"># ID</f:facet>${order.ID}</h:column>                      
                            <h:column><f:facet name="header">Price</f:facet>${order.price}</h:column>                      
                            <h:column><f:facet name="header">Payment Type</f:facet>${order.paymentType}</h:column>                      
                            <h:column><f:facet name="header">Sold date</f:facet>${order.soldDate}</h:column>                      
                            <h:column>    				
                                <f:facet name="header">Product</f:facet>    
                                <div class="gallery">
                                    <a href="${order.product.thumb}" data-source="${order.product.thumb}" title="${order.product.name}">
                                        <img class="img-responsive img-thumbnail" src="${order.product.thumb}" />
                                    </a>
                                </div>
                                <b><h:link value="${order.product.name}" outcome="/${productController.getProduct(order.product.ID)}" target="_blank"/></b>
                            </h:column>                      
                            <h:column><f:facet name="header">Employer</f:facet>${order.seller.ID} - ${order.seller.surname} ${order.seller.name}</h:column>                      
                            <h:column><f:facet name="header">Buyer</f:facet>${order.buyer.email}</h:column>                      
                            <h:column><f:facet name="header">Owner</f:facet>${order.product.owner.email}</h:column> 
                            <h:column>
                                <f:facet name="header">Azioni</f:facet>
                                <h:form class="margin-5">
                                    <h:link outcome="${orderController.getOrder(order.ID)}">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;Modifica</span>
                                        </button>
                                    </h:link>
                                </h:form>
                                <h:form class="margin-5">
                                    <h:commandLink action="${orderController.removeOrder(order.ID)}">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;Elimina</span>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

