<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
                <f:viewAction action="${orderController.setSelectedOrder(param.orderID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">Order</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">
                        <h:outputText value="Modifica order" rendered="${orderController.selectedOrder.ID > 0}"/>
                        <h:outputText value="Inserisci order" rendered="${orderController.selectedOrder.ID == 0}"/>
                    </p>
                </div>
                <h:form id="order-form" class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <h:outputLabel value="ID :" class="col-xs-2 control-label"/>
                        <div class="col-xs-1">
                            <h:inputText value="${orderController.selectedOrder.ID}" disabled="true" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Prodotto :" for="orderProduct" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:selectOneMenu value="${orderController.selectedOrder.product.ID}" id="orderProduct" styleClass="form-control height-34" required="true" requiredMessage="Il prodotto è obbligatorio">
                                <f:selectItem itemDisabled="true" itemValue="0" itemLabel="Seleziona il prodotto" />
                                <f:selectItems value="${productController.products}" var="product" itemLabel="${product.name}" itemValue="${product.ID}" />
                                <f:ajax event="change" listener="${orderController.setPrice(orderController.selectedOrder.product.ID)}" render="orderPrice" execute="orderProduct"/>
                            </h:selectOneMenu>
                        </div>
                        <h:message for="orderProduct" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Prezzo :" for="orderPrice" class="col-xs-2 control-label"/>
                        <div class="col-xs-2">
                            <h:inputText value="${orderController.selectedOrder.price}" id="orderPrice" class="form-control" required="true" requiredMessage="Il prezzo è obbligatorio" validatorMessage="Il prezzo non è valido, per favore inserire un prezzo tra 0.01 e 1000000000">
                                <f:convertNumber type="currency" pattern="#0.00" />
                                <f:validateDoubleRange minimum="0.01" maximum="1000000000" />
                            </h:inputText>
                        </div>
                        <h:message for="orderPrice" styleClass="alert alert-danger col-xs-5" />                        
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Pagamento :" for="orderPaymentType" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputText value="${orderController.selectedOrder.paymentType}" id="orderPaymentType" class="form-control" required="true" requiredMessage="La modalità di pagamento è obbligatoria" validatorMessage="La modalità di pagamento non è valida, per favore non inserire caratteri particolari, e stringhe oltre i 45 caratteri" >
                                <f:validateRegex pattern="[a-zA-Z0-9. ()s-èòàùì'é_+]{1,20}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="45" />
                            </h:inputText>
                        </div>
                        <h:message for="orderPaymentType" styleClass="alert alert-danger col-xs-5" />                        
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Acquirente :" for="orderBuyer" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:selectOneMenu value="${orderController.selectedOrder.buyer.ID}" id="orderBuyer" styleClass="form-control height-34" required="true" requiredMessage="L'acquirente è obbligatorio">
                                <f:selectItem itemDisabled="true" itemValue="0" itemLabel="Seleziona l'acquirente" />
                                <f:selectItems value="${customerController.customers}" var="customer" itemLabel="${customer.email}" itemValue="${customer.ID}" />
                                <f:ajax event="change" listener="${orderController.setReduction(orderController.selectedOrder.buyer.ID)}" render="orderPrice" execute="orderProduct"/>
                            </h:selectOneMenu>
                        </div>
                        <h:message for="orderBuyer" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Commesso :" for="orderSeller" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:selectOneMenu value="${orderController.selectedOrder.seller.ID}" id="orderSeller" styleClass="form-control height-34" required="true" requiredMessage="Il commesso è obbligatorio">
                                <f:selectItem itemDisabled="true" itemValue="0" itemLabel="Seleziona il commesso" />
                                <f:selectItems value="${orderController.employers}" var="employer" itemLabel="${employer.ID}: ${employer.name} ${employer.surname}" itemValue="${employer.ID}" />
                            </h:selectOneMenu>
                        </div>
                        <h:message for="orderSeller" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Data di vendita :" for="orderSoldDate" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputText disabled="true" value="${orderController.selectedOrder.soldDate}" id="orderSoldDate" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:button outcome="${orderController.cancel()}" value="Annulla" class="btn btn-danger col-md-2 col-xs-4 col-xs-offset-1"/>
                        <h:commandButton action="${orderController.processOrderForm()}" value="Invia" type="submit" class="btn btn-success col-md-offset-3 col-xs-offset-1 col-md-2 col-xs-4"/>
                    </div>
                </h:form>                
            </ui:define>
        </ui:composition>
    </body>
</html>

