<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />
        <link rel="stylesheet" href="../css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/template.jsf">
            <f:metadata>
                <f:event type="preRenderView" listener="${authenticationController.checkEmployer()}" />
                <f:viewAction action="${productController.setSelectedProduct(param.productID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">Product</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <p class="lead">
                        <h:outputText value="Modifica prodotto" rendered="${productController.selectedProduct.ID > 0}"/>
                        <h:outputText value="Inserisci prodotto" rendered="${productController.selectedProduct.ID == 0}"/>
                    </p>
                </div>
                <h:form id="product-form" class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <h:button outcome="${brandController.cancel()}" value="Annulla" class="btn btn-danger col-md-2 col-xs-4 col-md-offset-2 col-xs-offset-1"/>
                        <h:commandButton action="${productController.processProductForm()}" value="Invia" type="submit" class="btn btn-success col-md-2 col-xs-4 col-md-offset-1 col-xs-offset-1"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="ID :" class="col-xs-2 control-label"/>
                        <div class="col-xs-1">
                            <h:inputText value="${productController.selectedProduct.ID}" disabled="true" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Nome :" for="productName" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputText value="${productController.selectedProduct.name}" id="productName" class="form-control" required="true" requiredMessage="Il nome è obbligatorio" validatorMessage="Il nome non è valido, per favore inserire un nome da 1 a 64 caratteri, senza doppi apici e caratteri speciali al di fuori di questi: @#_+.()\'-" >
                                <f:validateRegex pattern="([a-zA-Z0-9.()\s-èòàùì'é@#_+]){1,63}" />
                                <f:validateLength minimum="1" />
                                <f:validateLength maximum="63" />
                            </h:inputText>     
                        </div>
                        <h:message for="productName" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Peso (Kg):" for="productWeight" class="col-xs-2 control-label"/>
                        <div class="col-xs-2">
                            <h:inputText value="${productController.selectedProduct.weight}" id="productWeight" class="form-control" required="true" requiredMessage="Il peso è obbligatorio" validatorMessage="Il peso non è valido, per favore inserire un peso tra 0.001 e 50000000">
                                <f:convertNumber pattern="#0.000" />                                    
                                <f:validateDoubleRange minimum="0.001" maximum="50000000" />
                            </h:inputText>
                        </div>
                        <h:message for="productWeight" styleClass="alert alert-danger col-xs-5" />
                        <h:outputLabel value="Stato :" class="col-xs-2 control-label"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.status}"/> 
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Prezzo :" for="productPrice" class="col-xs-2 control-label"/>
                        <div class="col-xs-2">
                            <h:inputText value="${productController.selectedProduct.price}" id="productPrice" class="form-control" required="true" requiredMessage="Il prezzo è obbligatorio" validatorMessage="Il prezzo non è valido, per favore inserire un prezzo tra 0.01 e 1000000000">
                                <f:convertNumber type="currency" pattern="#0.00" />
                                <f:validateDoubleRange minimum="0.01" maximum="1000000000" />
                            </h:inputText>
                        </div>
                        <h:message for="productPrice" styleClass="alert alert-danger col-xs-5" />
                        <h:outputLabel value="Online :" class="col-xs-2 control-label"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.online}"/> 
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Descrizione :" for="productDescription" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:inputTextarea value="${productController.selectedProduct.description}" id="productDescription" class="form-control" rows="5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Marchio :" for="productBrand" class="col-xs-2 control-label"/>
                        <div class="col-xs-5">
                            <h:selectOneMenu value="${productController.selectedProduct.brand.ID}" id="productBrand" styleClass="form-control height-34" required="true" requiredMessage="Il marchio è obbligatorio">
                                <f:selectItem itemDisabled="true" itemValue="0" itemLabel="Seleziona il marchio" />
                                <f:selectItems value="${brandController.brands}" var="brand" itemLabel="${brand.name}" itemValue="${brand.ID}" />
                            </h:selectOneMenu>
                        </div>
                        <h:message for="productBrand" styleClass="alert alert-danger col-xs-5" />
                    </div>
                    <div class="form-group">
                        <div class="col-xs-1"></div>
                        <h:outputLabel value="Economico :" class="col-xs-2 control-label"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.inexpensive}"/> 
                        </div>
                        <h:outputLabel value="Professionale :" class="col-xs-2 control-label"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.professional}" id="isProfessional">
                                <f:ajax event="click" render="isUsed productOwner"/> 
                            </h:selectBooleanCheckbox> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-1"></div>
                        <h:outputLabel value="Per bambini :" class="col-xs-2 control-label" for="forChild"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.forChild}" id="forChild">
                                <f:ajax event="click" render="productMinAge forChild" /> 
                            </h:selectBooleanCheckbox> 
                        </div>
                        <h:outputLabel value="Usato :" class="col-xs-2 control-label"/>
                        <div class="checkbox col-xs-1">
                            <h:selectBooleanCheckbox value="${productController.selectedProduct.used}" id="isUsed" disabled="${not productController.selectedProduct.professional}">
                                <f:ajax event="click" execute="isUsed" render="productOwner"/> 
                            </h:selectBooleanCheckbox> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-1"></div>
                        <h:outputLabel value="Et&agrave; minima :" for="productMinAge" class="col-xs-2 control-label"/>
                        <div class="col-xs-2">
                            <h:inputText value="${productController.selectedProduct.minAge}" disabled="${not productController.selectedProduct.forChild}" id="productMinAge" class="form-control" required="true" requiredMessage="Bisogna inserire l'età minima" validatorMessage="Età non valida">                   
                                <f:validateDoubleRange minimum="1" maximum="17" />
                            </h:inputText>
                        </div>
                        <h:message for="productMinAge" styleClass="alert alert-danger col-xs-5" />
                        <h:outputLabel value="Owner :" for="productOwner" class="control-label col-xs-2"/>
                        <div class="col-xs-3">
                            <h:selectOneMenu value="${productController.selectedProduct.owner.ID}" disabled="${not productController.selectedProduct.used or not productController.selectedProduct.professional}" id="productOwner" styleClass="form-control height-34" required="true" requiredMessage="Il commesso è obbligatorio">
                                <f:selectItem itemDisabled="true" itemValue="0" itemLabel="Seleziona il proprietario" />
                                <f:selectItems value="${customerController.professionals}" var="professional" itemLabel="${professional.name} ${professional.surname}" itemValue="${professional.ID}" />
                            </h:selectOneMenu>
                        </div>
                        <h:message for="productOwner" styleClass="alert alert-danger col-xs-3" />
                    </div>
                </h:form>
                <h:panelGroup layout="block" id="image-list" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10">
                    <h:outputLabel value="Immagini" class="col-xs-1 control-label"/>
                    <ui:repeat value="${productController.selectedProduct.productImages}" var="image">
                        <div class="product-img-remove-btn col-xs-2">
                            <h:graphicImage value="${image}" class="little-thumb">
                                <f:ajax event="click" listener="${productController.removeImage(image)}" execute="" render="image-list">
                                    <h:form enctype="multipart/form-data" class="product-img-remove-btn">
                                        <a>          
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </a>
                                    </h:form>
                                </f:ajax>
                            </h:graphicImage>
                        </div>
                    </ui:repeat>
                    <div class="col-xs-1">
                        <f:ajax event="valueChange" listener="${productController.processImage()}" execute="product-image" render="image-list">
                            <h:form enctype="multipart/form-data">
                                <h:inputFile id="product-image" value="${productController.file}"/>
                            </h:form>
                        </f:ajax>
                    </div>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

