<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>    
        <ui:composition template="templates/template.jsf">
            <ui:define name="windowTitle">About Us</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <h1>About Us <small>| Chi siamo</small></h1>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <img src="img/team/marian-solomon.jpg" class="img-circle" />
                        <div class="caption">
                            <h3>Marian Solomon</h3>                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="img/team/luca-zidda.jpg" class="img-circle" />
                        <div class="caption">
                            <h3>Luca Zidda</h3>
                        </div> 
                    </div>
                    <div class="col-sm-4">
                        <img src="img/team/cavazza-alvise.jpg" class="img-circle" />
                        <div class="caption">
                            <h3>Alvise Cavazza</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="lead text-center">Kittenlovers &egrave; il nostro team di lavoro</p>
                    <div class="col-lg-6">
                        <img class="img-responsive img-thumbnail" src="img/love-music-logo.jpg"/>
                    </div>
                    <div class="col-lg-6 jumbotron">
                        <img class="img-responsive footer-img" src="img/music-lovers.png"/>
                        <p class="lead">
                            MusicLoverS &egrave; stato creato con le ultime tecnologie disponibili per risultare il pi&ugrave; accessibile possibile.<br/>
                            Il layout del sito è completamente responsive e fruibile anche da dispositivi mobili come smartphone e tablet.<br/>
                            Enjoy yourself!
                        </p>
                        <a href="mailto:info@kittenlovers.com">info@kittenlovers.com</a>.
                    </div>    
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

