<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head>
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <title>IGNORED</title>       
    </head>    
    <body>
        <ui:composition template="templates/template.jsf">
            <ui:define name="windowTitle">Homepage</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <h1>Benvenuti su MusicLovers.com <small>| L'ultima frontiera del mercato nero!</small></h1>
                </div>
                <div class="jumbotron">
                    <p class="lead">MusicLoverS è il posto perfetto dove cercare i tuoi strumenti preferiti, <h:link outcome="about.xhtml">scopri chi siamo..</h:link></p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-justify">
                    <p class="lead">Filtra i prodotti</p>
                    <h:form class="margin-5">                            
                        <div class="checkbox">
                            <f:ajax execute="forChild" render="product-list" onevent="ajaxEvent">
                                <h:selectBooleanCheckbox value="${filterController.forChild}" id="forChild"/>
                                <h:outputLabel value="for child" for="forChild" class="unselectable"/>
                            </f:ajax>
                        </div>
                        <div class="checkbox">
                            <f:ajax execute="inexpensive" render="product-list" onevent="ajaxEvent">
                                <h:selectBooleanCheckbox value="${filterController.inexpensive}" id="inexpensive"/>
                                <h:outputLabel value="inexpensive" for="inexpensive" class="unselectable"/>                    
                            </f:ajax>
                        </div>
                        <div class="checkbox">
                            <f:ajax execute="professional" render="product-list" onevent="ajaxEvent">
                                <h:selectBooleanCheckbox value="${filterController.professional}" id="professional"/>
                                <h:outputLabel value="professional" for="professional" class="unselectable"/>
                            </f:ajax>
                        </div>
                        <div class="checkbox">
                            <f:ajax execute="used" render="product-list" onevent="ajaxEvent">
                                <h:selectBooleanCheckbox value="${filterController.used}" id="used"/>
                                <h:outputLabel value="used" for="used" class="unselectable"/>
                            </f:ajax>
                        </div>
                    </h:form>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="grid" jsf:id="product-list">
                        <h:panelGroup rendered="${empty filterController.onlineProducts}" id="products-empty">
                            <p class="lead text-danger">Nessuno strumento soddisfa i requisiti selezionati!</p>
                        </h:panelGroup>
                        <ui:repeat value="${filterController.onlineProducts}" var="product">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid-item">
                                <div class="thumbnail">
                                    <h:outputLink value="${productController.getProduct(product.ID)}">
                                        <h:graphicImage value="${product.thumb}" />
                                    </h:outputLink>
                                    <h:outputText class="bg-info badge price-bage" value="${product.price} €" >
                                        <f:convertNumber minFractionDigits="2" />
                                    </h:outputText>
                                    <b><h:link value="${product.name}" outcome="${productController.getProduct(product.ID)}"/></b><br/>
                                    <table class="table table-responsive table-striped table-bordered table-condensed"> 
                                        <tr><td>Economico:</td>
                                            <td>
                                                <h:outputFormat rendered="${product.inexpensive}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                                <h:outputFormat rendered="${not product.inexpensive}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                              
                                            </td>
                                        </tr>
                                        <tr><td>Professional:</td>
                                            <td>
                                                <h:outputFormat rendered="${product.professional}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                                <h:outputFormat rendered="${not product.professional}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                           
                                            </td>
                                        </tr>
                                        <tr><td>Usato:</td>
                                            <td>
                                                <h:outputFormat rendered="${product.used}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                                <h:outputFormat rendered="${not product.used}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                                
                                            </td>
                                        </tr>
                                        <tr><td>Per bambini:</td>
                                            <td>
                                                <h:outputFormat rendered="${product.forChild}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                                <h:outputFormat rendered="${not product.forChild}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                                
                                            </td>
                                        </tr>
                                        <h:outputFormat rendered="${product.minAge > 0}">
                                            <tr><td>Et&agrave; minima:</td><td><span class="badge"> ${product.minAge}</span></td></tr>
                                        </h:outputFormat>
                                    </table>
                                </div>
                            </div>
                        </ui:repeat>
                    </div>
                </div>
            </ui:define>
        </ui:composition>        
    </body>
</html>

