<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="templates/template.jsf">
            <f:metadata>
                <f:viewAction action="${productController.setSelectedProduct(param.productID)}"/>
            </f:metadata>
            <ui:define name="windowTitle">${productController.selectedProduct.name}</ui:define>
            <ui:define name="content">
                <div class="page-header">
                    <h1><h:outputText value="${productController.selectedProduct.name}"/></h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 lead">
                            <b>Nome: </b><h:outputText value="${productController.selectedProduct.name}"/><br/>
                            <b>Brand: </b><h:link value="${productController.selectedProduct.brand.name}" outcome="${brandController.getBrand(productController.selectedProduct.brand.ID)}"/><br/>
                            <b>Prezzo: </b><h:outputText value="${productController.selectedProduct.price}">
                                <f:convertNumber minFractionDigits="2" />
                            </h:outputText> €<br/>
                            <b>Peso: </b><h:outputText value="${productController.selectedProduct.weight}">
                                <f:convertNumber minFractionDigits="2" />
                            </h:outputText> Kg<br/>
                            <table class="table-responsive table-condensed margin-top-10"> 
                                <tr><td>Economico:</td>
                                    <td>
                                        <h:outputFormat rendered="${productController.selectedProduct.inexpensive}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                        <h:outputFormat rendered="${not productController.selectedProduct.inexpensive}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                              
                                    </td>
                                </tr>
                                <tr><td>Professionale:</td>
                                    <td>
                                        <h:outputFormat rendered="${productController.selectedProduct.professional}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                        <h:outputFormat rendered="${not productController.selectedProduct.professional}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                           
                                    </td>
                                </tr>
                                <tr><td>Usato:</td>
                                    <td>
                                        <h:outputFormat rendered="${productController.selectedProduct.used}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                        <h:outputFormat rendered="${not productController.selectedProduct.used}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                                
                                    </td>
                                </tr>
                                <tr><td>Per bambini:</td>
                                    <td>
                                        <h:outputFormat rendered="${productController.selectedProduct.forChild}"><span class="glyphicon glyphicon-ok text-success"/></h:outputFormat>
                                        <h:outputFormat rendered="${not productController.selectedProduct.forChild}"><span class="glyphicon glyphicon-remove text-danger"/></h:outputFormat>                                
                                    </td>
                                </tr>
                                <h:outputFormat rendered="${productController.selectedProduct.minAge > 0}">
                                    <tr><td>Et&agrave; minima:</td><td><span class="badge"> ${productController.selectedProduct.minAge}</span></td></tr>
                                </h:outputFormat>
                            </table>
                        </div>
                        <div class="col-lg-offset-1 col-md-offset-1 col-lg-7 col-md- col-sm-12 col-xs-12 zoom-gallery grid">
                            <ui:repeat value="${productController.selectedProduct.productImages}" var="image">
                                <a href="${image}" data-source="${image}" title="${productController.selectedProduct.name}" class="grid-item">
                                    <h:graphicImage value="${image}" class="img-responsive img-rounded margin-1" id="product-image"/>
                                </a>
                            </ui:repeat>
                        </div>
                    </div>
                    <div class="panel panel-default page-header">
                        <div class="panel-heading">
                            <h3 class="panel-title">Descrizione</h3>
                        </div>
                        <div class="panel-body">
                            <h:outputText value="${productController.selectedProduct.description}"/><br/>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

